body {
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.userMsg {
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}
.userMsg.userAddedSuccess {
    border: 3px solid blue;
    background-color: green;
    color: white;
}
.userMsg.deleteFailed {
    border: 5px dashed red;
    background-color: lightgray;
    color: darkred;
}



.phoneBookEntry {
    list-style-type: none;
}
input, button {
    margin-left: 10px;
}
