.loggedInUser {
    margin: 10px 0px;
}

form>div {
    margin: 4px;
}

form>div>label {
    margin-right: 4px;
}

input[type=text] {
    display: block;
}

.blogForm {
    margin: 4px;
}