.loggedInUser {
    margin: 10px 0px;
}

form>div {
    margin: 4px;
}

form>div>label {
    margin-right: 4px;
}

input[type=text] {
    display: block;
}

.blogForm {
    margin: 4px;
}

.message {
    margin: 4px;
    padding: 10px;
    border: 2px solid;
    border-radius: 3px;
    font-size: 30;
    width: 20%;
    background-color: #cfcfcf;
}

.errorMessage {
    border-color: red;
    color: red;
}

.successMessage {
    border-color: green;
    color: green;
}